.root {
  li {
    display: inline-block;

    a {
      border: 1px solid #ff0000;
      border-radius: 30px;
      text-align: center;
      width: 45px;
      line-height: 42px;
      margin-right: 10px;
      cursor: pointer;
      height: 45px;
      display: inline-block;
      color: #ff0000;

      &:hover {
        color: white;
        background-color: #ff0000;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #ff0000;
        color: white;
      }
    }
  }
}
